body, html {
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("pic3.jpg");
    background-blend-mode: lighten;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .topnav {
    background-color:rgba(54, 102, 54, 0.938);
    overflow: hidden;
  }
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a.active {
    background-color: #04AA6D;
    color: white;
   }
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  img {
    width: 100%;
      }

      .container {
       display: flex;
       align-items: center;
       justify-content: center;
     }

     .image {
        flex-basis: 18.5%
      }

      